extends ./module/layout.jade
block title
	title #{post.article.title}
block content
	h1 #{post.article.title}
	h2 #{post.article.date}
	a(href='#{post.article.nextArticle.link}') 下一篇 #{post.article.nextArticle.title}
	br
	a(href='#{post.article.prevArticle.link}') 上一篇 #{post.article.prevArticle.title}
	div.article-entry !{post.article.html}