extends ./module/layout.jade
block title
	title #{config.blogName}
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
	link(rel='stylesheet',type='text/css',href='/resource/css/base.css')
	script(type='text/javascript',src='/resource/js/jquery-2.1.3.min.js')
block content
	div.content
		h1 #{config.blogName}
		ul
			each result in post.filter
				li 
					a(href='#{result.link}') #{result.name}